@import "tailwindcss";
@plugin "tailwindcss-primeui";

@theme {
  --font-sans: "Google Sans", "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  font-family: var(--font-sans);
}

body {
  font-family: var(--font-sans);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #f8fafc;
}
